/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('@/static/fonts/roboto-slab-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('@/static/fonts/roboto-slab-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/static/fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/static/fonts/roboto-slab-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('@/static/fonts/roboto-slab-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/static/fonts/roboto-slab-v8-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('@/static/fonts/roboto-slab-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('@/static/fonts/roboto-slab-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/static/fonts/roboto-slab-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/static/fonts/roboto-slab-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('@/static/fonts/roboto-slab-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/static/fonts/roboto-slab-v8-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('@/static/fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('@/static/fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/static/fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/static/fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('@/static/fonts/montserrat-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('@/static/fonts/montserrat-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/static/fonts/montserrat-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/static/fonts/montserrat-v13-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('@/static/fonts/montserrat-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('@/static/fonts/montserrat-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/static/fonts/montserrat-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/static/fonts/montserrat-v13-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('@/static/fonts/montserrat-v13-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
       url('@/static/fonts/montserrat-v13-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/static/fonts/montserrat-v13-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('@/static/fonts/montserrat-v13-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/static/fonts/montserrat-v13-latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
