<template>
    <div>
        <nav id="nav" class="bg-primary">
            <div class="flex justify-between items-center mx-4">
                <img src="@/assets/logo.png" class="img" alt="">
                <ul> 
                    <li class="hidden sm:inline-block"><router-link class="mx-2" to="/">Home</router-link></li>   
                    <li class="hidden sm:inline-block"><router-link class="mx-2" to="/p">Products</router-link></li>   
                    <li class="hidden sm:inline-block"><router-link class="mx-2" to="/about">About</router-link></li>   
                    <button class="inline-block sm:hidden" v-on:click="openMenu()"><i class="fas fa-bars "></i></button>
                </ul>
            </div>
        </nav>
        <div id="mobile-menu" :class="{'hidden': notShow}">
            <ul class="pl-0">
                <li class="w-full inline-block my-3"><router-link class="mx-2" to="/">Home</router-link></li>   
                <li class="w-full inline-block my-3"><router-link class="mx-2" to="/p">Products</router-link></li>   
                <li class="w-full inline-block my-3"><router-link class="mx-2" to="/about">About</router-link></li>   
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Navbar extends Vue {
    
    data() {
        return { notShow: true }
    }
    openMenu(){
        this.notShow = !this.notShow;
    }
}



</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/styles/tailwind.postcss';

#nav{
    padding: 10px 60px 10px 60px;
}
.img{
    height: 45px;

}
a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #2c3e50;
    &.router-link-exact-active {
      border-bottom: 3px solid #c7c7c7;
      
    }
}
#mobile-menu{
    ul{
        background-color: #5c5a5a;
    }
    a{
        color: #f2f2f2;

    } 
}

</style>
