<template>
    <footer id="footer" class="bg-grey-darkest">
        <div class="mx-4 p-0">
            <img class ="h-10" src="@/assets/logo.png"  alt="">
            <p class="m-2 text-white">Made with &#10084 by <a class ="no-underline text-primary" href="https://codelab.ime.usp.br/#/">USPCodeLab</a></p>
        </div>
    </footer>
</template>

<script lang="ts">
import { Component, Vue }  from 'vue-property-decorator';

@Component
export default class TheFooter extends Vue{

}
</script>



<style lang="scss" scoped>

#footer {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 60px;
}


</style>

 

