<template>
  <div id="app">
    <navbar/>
      
    <router-view/>
    <the-footer/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from '@/components/Navbar.vue';
import TheFooter from '@/components/TheFooter.vue';

export default Vue.extend({
  components: {
    Navbar,
    TheFooter,
  },
});
</script>


<style lang="scss">
@import 'assets/styles/tailwind.postcss';



#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  background-color: gray-light;
  padding: 10px 60px;
}
</style>
